.content{
    width: 500px;
    background-color: #ddd;
    padding: 20px;
    border-radius: 5px;
    transform: translate(80%,-50%);
    position: absolute;
    top: 50%;
}
.header p{
    font-weight: bold;
}
.word{
    display:flex;
    justify-content: center;
    gap: 20px;
    transition: .3s;
}
.word .charc{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 25px;
   color: #00897b;
    width: 40px;
    height: 40px;
    border: 2px solid white;
}
#btn{
    display: block;
    border: none;
    color: white;
    margin: 0 auto;
    font-size: 18px;
    padding: 10px;
    color: black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: .3s;
}
#btn:hover{
    background-color: #00897b;
    color: white;
}
#myword{
    display: block;
    opacity: 0;
}